body {
    background-image: url("img/background.jpg");
    background-size: cover;
}

.content {
    padding-top: 50px;
}

img {
    max-width: 100%;
    transition: ease 0.3s;
}

.back img:hover {
    box-shadow: 3px 5px 8px white;
}

.grid {
    width: 14.2857142857%;
    float: left;
}

.card {
    width: 100%;
    position: relative;
    pointer-events: auto;
}

.card .front {
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
}

.back {
    padding: 10px;
}

.front {
    padding: 10px;
}

.card .back, .card .front {
    transition: all .5s;
    backface-visibility: hidden;
}

.card.flip .back {
    transform: rotateY(180deg);
    visibility: hidden;
}

.card.flip .front {
    transform: rotateY(0deg);
    visibility: visible;
}
